<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InetBankingV9"  >

   <listeners>
   <listener class-name="com.inetbankin.utilities.Reporting"/>
  </listeners>

  <test  name="Banking app test chrome">
   <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.inetbanking.Testcases.Tc_Login_001"/>
<!--   <class name="com.inetbanking.Testcases.Tc_Login_002"/>    -->
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
